{% extends 'base1.html' %}

<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
{% block body %}

<div id="mySidenav" class="sidenav" style="z-index: 2">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/accounts/">My Profile</a>
  <a href="/accounts/Acads">Academic details</a>
  <a href="/accounts/Companies">Companies</a>
    <a href="#">About us</a>
  <a href="/accounts/logout">Logout</a>
</div>

<nav class="navbar navbar-inverse" style="z-index: 0">
  <div class="container-fluid">
    <div class="navbar-header">

{#        <span style="font-size:30px;cursor:pointer" onclick="openNav()">Splacer</span>#}
</div>
    </div>
    <ul class="nav navbar-nav">
             <li class="active"> <span style="font-size:25px;cursor:pointer;color: #f1f1f1;z-index: 0" onclick="openNav()">&#9776; Splacer</span></li>
      <li ><a href="/accounts/">Home</a></li>
        <li class="active" ><a href="/accounts/Acads">Academic Details </a></li>
        <li><a href="/accounts/Companies">Companies</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="accounts/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
    <div id="main">
    <div class="container">
  <h2>Academic Details</h2>
        <br><br><br>
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
           <div class="form-group">
        <br><br><br><br>
      <label class="control-label col-sm-2" for="UID" style="font-size:20px">UID:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="UID of Student"name="UID" value= '{% if submitbutton == "Submit" %} {{ UID }} {% endif %}'/>
          <br><br>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="stuname" style="font-size:20px">Name:</label>
        <br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="stuname" placeholder="Name of Student" name="stuname" value= '{% if submitbutton == "Submit" %} {{ stuname }} {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="branch" style="font-size:20px">Branch:</label>
            <br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="branch" placeholder="Branch of Student" name="branch" value= '{% if submitbutton == "Submit" %} {{ branch }} {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="year" style="font-size:20px">Year:</label>
            <br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="year" placeholder="Year of Student" name="year" value= '{% if submitbutton == "Submit" %} {{ year }} {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="state" style="font-size:20px">State:</label>
            <br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="state" placeholder="State" name="state" value= '{% if submitbutton == "Submit" %} {{ state }} {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="city" style="font-size:20px">City:</label>
            <br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="city" placeholder="City" name="city" />
          <br><br>
      </div>
    </div>
        <input type="Submit" name="Submit" value="Submit"/>
        </form>
            </div>
</div>
    {% if submitbutton == "Submit"  %}
<h1> Your first name is {{ stuname }}</h1>
<h1> Your UID  is {{ UID }}</h1>
<h1> Your city is {{ city }} </h1>
<h1> Your state is {{ state }} </h1>
{% endif %}
{% endblock %}