{% extends 'base1.html' %}

<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
{% block body %}

<div id="mySidenav" class="sidenav" style="z-index: 2">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/accounts/">My Profile</a>
  <a href="/accounts/Acads">Academic details</a>
  <a href="/accounts/Companies">Companies</a>
    <a href="/admin">Administrator</a>
    <a href="#">About us</a>
  <a href="/accounts/logout">Logout</a>
</div>

<nav class="navbar navbar-inverse" style="z-index: 0">
  <div class="container-fluid">
    <div class="navbar-header">

{#        <span style="font-size:30px;cursor:pointer" onclick="openNav()">Splacer</span>#}
</div>
    </div>
    <ul class="nav navbar-nav">
             <li class="active"> <span style="font-size:25px;cursor:pointer;color: #f1f1f1;z-index: 0" onclick="openNav()">&#9776; Splacer</span></li>
      <li ><a href="/accounts/">Home</a></li>
        <li class="active" ><a href="/accounts/Acads">Academic Details </a></li>
        <li><a href="/accounts/Companies">Companies</a></li>
        <li><a href="/admin">Administrator</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="accounts/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
    <div id="main">
    <div class="container">
  <h2>Academic Details</h2>

        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
           <div class="form-group">
        <br><br><br><br>
      <label class="control-label col-sm-2" for="UID" style="font-size:20px">UID:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="UID of Student"name="UID" value= '{% if submitbutton == "Submit" %} {{ UID }} {% endif %}'/>
          <br><br>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="s2" style="font-size:20px">Sem1 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s1" placeholder="Sem1 Pointer" name="s1" value= '{% if submitbutton == "Submit" %} {{ s1 }}{%else%}0.0 {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="s2" style="font-size:20px">Sem2 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s2" placeholder="Sem2 Pointer" name="s2" value= '{% if submitbutton == "Submit" %} {{ s2 }}{%else%}0.0 {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="s3" style="font-size:20px">Sem3 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s3" placeholder="Sem3 Pointer" name="s3" value= '{% if submitbutton == "Submit" %} {{ s3 }}{%else%}0.0 {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="s4" style="font-size:20px">Sem4 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s4" placeholder="Sem4 Pointer" name="s4" value= '{% if submitbutton == "Submit" %} {{ s4 }}{%else%}0.0 {% endif %}'/>
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="s5" style="font-size:20px">Sem5 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s5" placeholder="Sem5 Pointer" name="s5" value= '{% if submitbutton == "Submit" %} {{ s5 }}{%else%}0.0 {% endif %}' />
          <br><br>
      </div>
    </div>
        <div class="form-group">
      <label class="control-label col-sm-2" for="s6" style="font-size:20px">Sem6 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s6" placeholder="Sem6 Pointer" name="s6" value= '{% if submitbutton == "Submit" %} {{ s6 }}{%else%}0.0 {% endif %}' />
          <br><br>
      </div>
    </div>

        <div class="form-group">
      <label class="control-label col-sm-2" for="s7" style="font-size:20px">Sem7 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s7" placeholder="Sem7 Pointer" name="s7" value= '{% if submitbutton == "Submit" %} {{ s7 }}{%else%}0.0{% endif %}' />
          <br><br>
      </div>
    </div>

        <div class="form-group">
      <label class="control-label col-sm-2" for="s8" style="font-size:20px">Sem8 Pointer:</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" id="s8" placeholder="Sem8 Pointer" name="s8" value= '{% if submitbutton == "Submit" %} {{ s8 }}{%else%}0.0 {% endif %}' />
          <br><br>
      </div>
    </div>
        <input type="Submit" name="Submit" value="Submit"/>
        <input type="Submit" name="DBstore" value="Save To DB"/>
        </form>
            </div>
</div>
    {% if submitbutton == "Submit"  %}
<h1> Your first name is {{ s1 }}</h1>
<h1> Your UID  is {{ UID }}</h1>
<h1> Your city is {{ s3 }} </h1>
<h1> Your state is {{ s4 }} </h1>
        <h1>Cgpa is {{ cgpa }}</h1>
{% endif %}
{% endblock %}