{% extends 'base1.html' %}
{#{% include 'acads.html' %}#}
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <style>
    .table.table-bordered {
        border: 5px solid #CECECE;
}


    </style>
</head>
{% block body %}

<div id="mySidenav" class="sidenav" style="z-index: 2">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/accounts/">My Profile</a>
  <a href="/accounts/Acads">Academic details</a>
  <a href="/accounts/Companies">Companies</a>
    <a href="/admin">Administrator</a>
    <a href="http://www.spit.ac.in/about/">About us</a>
  <a href="/accounts/logout">Logout</a>

</div>

<nav class="navbar navbar-inverse" style="z-index: 0;background-color: #374785;background: #374785 ;border-color:#374785">
  <div class="container-fluid">
    <div class="navbar-header">

{#        <span style="font-size:30px;cursor:pointer" onclick="openNav()">Splacer</span>#}
</div>
    </div>
    <ul class="nav navbar-nav">
             <li class="active"> <span style="font-size:25px;cursor:pointer;color: #f1f1f1;z-index: 0" onclick="openNav()">&#9776; Splacer</span></li>
      <li ><a href="/accounts/" style="color: #f1f1f1">Home</a></li>
        <li  ><a href="/accounts/Acads" style="color: #f1f1f1">Academic Details </a></li>
        <li class="active"><a href="/accounts/Companies" style="background-color: #0b5de2">Companies</a></li>
        <li><a href="/admin" style="color: #f1f1f1">Administrator</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/accounts/register" style="color: #f1f1f1"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="accounts/logout" style="color: #f1f1f1"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>


<div id="main">
    <div class="container">
    <div class="container" align="center">
        <b><p style="font-size: 35px">List Of Companies</p></b>
    <h2>Your CGPA is : {{ cgpa }} </h2>
    </div>
        <br><br>
        <table class="table table-bordered" style="border-color: #ffffff">
        <thead style="font-size: 25px;border-color: #ffffff">
      <tr>
          <th>Sr No.</th>
        <th>Name</th>
        <th>Domain</th>
        <th>Package</th>
          <th>Pointer</th>
          <th>Arrival Date</th>

      </tr>
    </thead>
            <tbody style="border-color: #ffffff">
             <tr style="font-size: 18px;border-color: #ffffff">
            {% for dict_item in result %}

   {% for key, value in dict_item.items%}

                    {% if key == 'pointer'%}
                        {% if value <= cgpa %}
                            <td style="font-size: 18px;border-color: #ffffff">{{value}}</td>
                            {% else %}
                            <td style="color: red;font-size: 18px;border-color: #ffffff">Not Eligible</td>
                            {% endif %}
                        {% else %}
                        <td style="font-size: 18px;border-color: #ffffff">{{ value }}</td>

                        {% endif %}

   {% endfor %}
                <tr></tr>
{% endfor %}
  </tr>



    </tbody>
        </table>
    </div>
</div>
{%endblock%}

